.body-qr-scan {
 background-color: #2C7BE5;
 height: 1080px;
}

.body-qr-scan h2{
  color: #283E59;
}

.header-style {
  background-color: #ffffff;
  height: 4rem;
  border-radius:  0px 0px 15px 15px;
}

.header-style h2{
  color: #283E59;
}

.main-content-style {
  margin-top: 25px;
  border-radius: 15px;
  border: 2px solid white; /* Параметры границы */
  background: #D2DDEC;

}

.border-style {

}
